doctype html
html
  head
    title="Trumps - The Game"
    link(rel="stylesheet" href="/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/dist/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/clientScript.js")
  body
    Main
      div#headingStuff
        h1="Trumps - The Game"
      //Note: The convention for the navbar is to have the subsequen section name + "the" at the front
      nav#navbar
        ul
          li#theMine.active
            ="The Mines"
          li#theVillage
            ="The Village"
          li#theCity
            ="The City"
          li#theWhitehouse
            ="The Whitehouse"
          li#theSituationRoom
            ="The Situation Room"
      div#game
        //Note: The convention for status is the area name + Status
        div#mineStatus.status.active
          div.column
            h3="Trumps"
            h4="4/10"
          div.column
            h3="Dolla Bills"
            h4="$69"
          div.column
            h3="Tacos"
            h4="0 Bells"
          div.column
            h3="Ore"
            h4="0 Tons"
          div.column.lastColumn
            h3="Trumpets"
            h4="0 Trumps"
        div#villageStatus.status.hidden
        div#cityStatus.status.hidden
        div#whitehouseStatus.status.hidden
        div#situationRoomStatus.status.hidden
        div#mine.area.active
          h2="The Mines"
          div.modulesContainer
            div#hatchery.module
              h3="Trump Hatchery"
            div#amMineInc.module
              h3="Great America Mining"
            div#trumpcoTacoFarm.module
              h3="TrumpCo TaCo Farm"
            div#trumpetManufactury.module
              h3="Trumpet Manufactory"
        div#village.area.hidden
        div#city.area.hidden
        div#whitehouse.area.hidden
        div#situationRoom.area.hidden
